
.contact-links {
  margin-top: 1.25rem;
  font-size: .875rem; /* chakra-sm */
}
.contact-links li a {
  display: block;
  position: relative;
  padding-top:0.5rem;
  padding-left: 2.5rem;
  margin-bottom: 1rem;
}
.contact-links li i {
  position: absolute;
  display: block;
  left: 0rem;
  height: 2rem;
  width: 2rem;
  display: block;
  background: transparent no-repeat url(/images/svg/github.svg) center center;
  background-size: 2rem;
}

.label {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;

}
.contact-links li.email i {
  background-image: url(/images/svg/email.svg) ;
}

.contact-links li.linkedin i {
  background-image: url(/images/svg/linkedin.svg) ;
}

.contact-links a:hover .label,
.contact-links a:active .label{
  text-decoration: underline;
}
